body {
  background: #212529;
}

ul, li {
  display: inline-block;
}

.container-fluid {
  padding-top: 3%;
}

@media (max-width: 992px){
  .container-fluid {
    padding-top: 0;
  }
}

.player-content {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}

.player-content-window{  
  min-width: 650px;
}

@media (max-width: 700px){
  .player-content {
    min-width: 650px;
    margin-bottom: 10px;
  }
}

.playerHeader {
  width: 100%;
  height: 30px;
  background: url(../images/playheader.jpg) repeat-x;
  border-radius: 5px 5px 0px 0px;
  text-align: center;
}

.player_window {
  width: 100%;
  height: 82%;
}

.player_window_video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.playerControlls {
  width: 100%;
  height: 50px;
  background: #f1f2f2;
  border-radius: 0 0 5px 5px;
}

.progress {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0px;
  margin: 0;
}

.progress::-webkit-progress-bar {
  background-color: #d7d7d7;
}

progress::-webkit-progress-value {
  background-color: green;
}

.controll ul {
  height: 100%;
  width: 100%;
}

.controll li {
  float: left;
  width: 50px;
  height: 100%;
  line-height: 41px;
  font-size: 1.5rem;
  text-align: center;
}

.controll li i span{
  position: absolute;
  margin-top: -3px; 
  font-size: 1rem;
}

.controll li:last-child {
    float: right;
    width: 200px;
    color: #212529;
    pointer-events: none;
  }

@media (max-width: 992px){
    .controll li {
        height: 100%;
        margin-right: 10px;
        font-size: 1.5rem;
        width: 40px;
      }
}

.playerControlHidden {
  display: none;
}

.progress2 {
  height: 10px;
  margin: 0;
}

li:hover {
  background: gray;
  border-radius: 0px;
  color: #f03e3e;
}

.disabled {
  color: gray;
  pointer-events: none;
}

.media-play-list {
  margin-top: 5%;
  background: #f1f2f2;
  height: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
}

.play_list_content {
  background: #f1f2f2;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.play_list_content li {
  padding-left: 5px;
}

.active_list {
  background: #fd7e14;
  color: #fff;
}

.animation{
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  animation: 10s wordsLoop linear infinite normal;
}

.list_item i {
  position: relative;
  font-size: 10px;
  padding: 0 10px;
}

.play-tip{
  position: absolute;
	width: 110px;
	height: 110px;
	text-align: center;
	line-height: 110px;
	top: 48%;
  left: 50%;
  padding-left: 15px;
	margin-left: -55px;
	margin-top: -70px;
	background: red;
	font-size: 60px;
	border: 3px solid #FFFFFF;
	border-radius: 50%;
	color: #fff;
  cursor: pointer;
}

@keyframes wordsLoop {
  0% {
      transform: translateX(100px);
      -webkit-transform: translateX(100px);
  }
  100% {
      transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
  }
}

@-webkit-keyframes wordsLoop {
  0% {
      transform: translateX(100px);
      -webkit-transform: translateX(100px);
  }
  100% {
      transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
  }
}
