<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4"> </div>
    <div class="col-lg-4">
      <nav class="nav nav-pills nav-fill">
        <li class="nav-item active bg-danger text-white" style="border-top-left-radius: 10px; border-bottom-left-radius: 10px">
          <a routerLink="/player">Click me to watch your videos</a>
        </li>
        <li class="nav-item active bg-success" style="border-top-right-radius: 10px; border-bottom-right-radius: 10px">
          <a routerLink="/new">Hit me to add more videos</a>
        </li>
      </nav>
    </div>
    <div class="col-lg-4"> </div>
  </div>

  <router-outlet></router-outlet>
